@use '../../../styles/mixins';
@use '../../../styles/variables' as *;

.background {
    background-image: url(../../../assets/login-background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login {
    // background-color: aqua;
    width: 25rem;
    margin: 0 auto;
    &__title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        &--btn {
            width: 5rem;
            background-color: darkgray;
            border-radius: 10px;
            padding: 0.05rem 1rem;
            // align-self: center;
        }
    }
}