@use '../../styles/mixins';
@use '../../styles/variables' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7CE65;
    width: 100%;
    border-bottom: 0.25rem solid #290000;
    padding-bottom: 1rem;
    @include mixins.tablet {
        border-right: 0.25rem solid #290000;
        width: 20vw;
    }
    &__title {
    }
    &__searchBtn {
        display: none;
    }
    &__addBtn {
    }
}
.list {
    width: 80%;
    list-style: none;
}

.modal__container {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: linear-gradient(0deg, rgba(65,63,52,1) 0%, rgba(210,204,161,1) 5%, rgba(255,255,255,1) 100%);
    overflow: auto;
    border-radius: 4px;
    border: 5px solid #5c1a1b;
    outline: none;
    padding: 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 15rem;
    height: 80%;
    @include mixins.tablet {
        width: 45rem;
        height: 23rem;
    }
}

.autocomplete {
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 5px;
    list-style: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 767px) {
    .mobile__size {
        display: none;
    }
}