.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7CE65;
    width: 20vw;
    border-right: 0.25rem solid #290000;
    &__title {
    }
    &__searchBtn {
        // display: none;
    }
}

.autocomplete {
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 5px;
    list-style: none;
}