@use './syles/global' as *;

.container {
    display: flex;
    position: relative;
    height: 100%;
    width: 80vw;
}

.flex {
    display: flex;
}
.drag-handle {
    cursor: move;
}

.token {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    margin: 10px;
    position: absolute;
    cursor: move;
}

.dragAndDrop {
    position: absolute;
    justify-content: center;
    margin-top: 50px;
}

.canvasContainer {
    position: relative;
}