@use './styles/mixins';
@use './styles/global' as *;
@use './styles/variables' as *;

.container {
    display: flex;
    position: relative;
    height: 100%;
    @include mixins.tablet {
        width: 80vw;
    }
}

.flex {
    display: flex;
}
.drag-handle {
    cursor: move;
}

.token {
    margin: 10px;
    position: absolute;
    cursor: move;
    & img {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        border-radius: 50%;
        @include mixins.tablet {
            height: 75px;
            width: 75px;
        }
    }
    &__number {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1rem;
        background-color: rgb(99, 96, 96);
        color: white;
        padding: 0 0.25rem;
        border-radius: 5px;
    }
}

.isDragging {
    & img {
        border: 2px solid blue;
    }
}

.dragAndDrop {
    position: absolute;
    justify-content: center;
    margin-top: 50px;
}

.canvasContainer {
    position: relative;
}