.canvas {
    position: relative;
    &__background {
    background-image: url('./assets/dnd-grid.png');
    // background-size: contain;
    background-size: 40%;
    }
}

.clear-btn {
    position: absolute;
    top: 5rem;
}